client/Service References/ServiceReference1/service3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/server" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/server" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfFileContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FileContract" nillable="true" type="tns:FileContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFileContract" nillable="true" type="tns:ArrayOfFileContract" />
  <xs:complexType name="FileContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="Bytes" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="FilePath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileStatus" type="tns:Status" />
      <xs:element minOccurs="0" name="LastModification" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OldFilePath" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FileContract" nillable="true" type="tns:FileContract" />
  <xs:simpleType name="Status">
    <xs:restriction base="xs:string">
      <xs:enumeration value="New" />
      <xs:enumeration value="Deleted" />
      <xs:enumeration value="Renamed" />
      <xs:enumeration value="Modified" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Status" nillable="true" type="tns:Status" />
</xs:schema>