client/Service References/ServiceReference1/Server1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Server" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="basicEndpoint_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <msf:Streamed xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/StreamService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/StreamService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/StreamService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/server" />
      <xsd:import schemaLocation="http://localhost:8080/StreamService?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.IO" />
      <xsd:import schemaLocation="http://localhost:8080/StreamService?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServer_GetFiles_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFiles" />
  </wsdl:message>
  <wsdl:message name="IServer_GetFiles_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFilesResponse" />
  </wsdl:message>
  <wsdl:message name="IServer_SetFile_InputMessage">
    <wsdl:part name="parameters" element="tns:SetFile" />
  </wsdl:message>
  <wsdl:message name="IServer_SetFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetFileResponse" />
  </wsdl:message>
  <wsdl:message name="IServer_SendMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:SendMessage" />
  </wsdl:message>
  <wsdl:message name="IServer_SendMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendMessageResponse" />
  </wsdl:message>
  <wsdl:portType name="IServer">
    <wsdl:operation name="GetFiles">
      <wsdl:input wsaw:Action="http://tempuri.org/IServer/GetFiles" message="tns:IServer_GetFiles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServer/GetFilesResponse" message="tns:IServer_GetFiles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IServer/SetFile" message="tns:IServer_SetFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServer/SetFileResponse" message="tns:IServer_SetFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/IServer/SendMessage" message="tns:IServer_SendMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServer/SendMessageResponse" message="tns:IServer_SendMessage_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="basicEndpoint" type="tns:IServer">
    <wsp:PolicyReference URI="#basicEndpoint_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetFiles">
      <soap12:operation soapAction="http://tempuri.org/IServer/GetFiles" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetFile">
      <soap12:operation soapAction="http://tempuri.org/IServer/SetFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMessage">
      <soap12:operation soapAction="http://tempuri.org/IServer/SendMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Server">
    <wsdl:port name="basicEndpoint" binding="tns:basicEndpoint">
      <soap12:address location="net.tcp://localhost:9000/streamserver" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:9000/streamserver</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>Piotr-Komputer\Piotr</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>