client/Service References/ServiceReference1/service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://piotr-komputer/service?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/server" />
  <xs:element name="SetFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/server" minOccurs="0" name="fileContract" nillable="true" type="q1:FileContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetFileResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>