client/Service References/ServerReference/service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/server" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/server" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="FileContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="Bytes" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="FilePath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IP" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FileContract" nillable="true" type="tns:FileContract" />
</xs:schema>